*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 28px 0 20px 0;
    align-items: center;
    border-bottom: 1px solid #393939;
}
.container{
    width: 1000px;
    margin: 0 auto ; 
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-weight: 700;
    font-size: 24px;
    
}

.main__namber{
    font-weight: 700;
    font-size: 288px;
    margin-top: 40px;
    color: #393939;
    text-align: center;}


.button__main{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
    
}
.button__main button{
    
    width: 56px;
    height: 58px;
    color: #fff;
    font-size: 24px;
    border-radius: 27px;
    border: none;}

.plus{
    background: #0FC50B;
    border-radius: 27px;
    }
.restart{
    background: #E5E5E5;
    }


.minus{
    background: #F74C4C;
}
.button__main button:active{
    position: relative;
    top: 3px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.button__main button:hover{
    border: 1.5px solid hsl(0, 4%, 49%);  
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 270px;
}
.footerMenu{
    display: flex;
    color: rgba(0, 0, 0, 0.5);
    
}
.footerMenu li{
    margin-right: 20px;
    font-weight: 700;
     line-height: 19px;
}

.copyright{
    margin-left: 125px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
}